.datos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 50px ;
    padding-left: 10px;
    width: 100%;
}
.datos .descripcion {
    width: 50%;
}
.datos .descripcion .nombre {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.datos .descripcion .sinopsis {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.datos .descripcion .puntaje {
    color: white;
    font-family: 'Montserrat', sans-serif;
}