*{
    box-sizing: border-box;
    margin: 10 auto;
}
/*HEADER*/

.uk-navbar-container a  {
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
.uk-navbar-container li a  {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.menu-off li {
    list-style-type: none;
}

/*PAGINA DE INICIO*/
#buscador {
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
    margin-left: 2%;
}
.uk-panel img {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 20px;
}
.body {
    background-color: rgb(0, 0, 0);
}
.titulos {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 20px;
}
.tituloCentral {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-left: 0px;
}
article:hover img {
    opacity: 0.3;
}
#peliculasPopulares {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#peliculasPopulares img {
        border: 5px red solid;
    
}
#seriesPopulares {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#seriesPopulares img {
        border: 5px red solid;
    
}
#ultimosEstrenos {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#ultimosEstrenos img {
        border: 5px red solid;
    
}

/*FOOTER*/
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
.footer img {
    height: 15%;
    width: 15%;
    margin: 2%;
}
.footer div {
    height: 15%;
    width: 15%;
    margin: 2%;
}
.footer p {
    margin: 2%;
}
/*PAGINA DETALLE PELICULAS*/
.datos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 50px ;
    padding-left: 10px;
    width: 100%;
}
.datos .descripcion {
    width: 50%;
    margin: 2%;
}
.datos .descripcion .nombre {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    margin-top: 3%;
}
.datos .descripcion .sinopsis {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.datos .descripcion .promedio {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.datos .descripcion .genero {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.datos .descripcion .fecha {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.imagen {
    height: 25%;
    width: 25%;
    margin: 2%;
    border: 5px red solid;
}