*{
    box-sizing: border-box;
    margin: 10 auto;
}
html {
    scroll-behavior: smooth;
}
/*HEADER*/

.uk-navbar-container a  {
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
.uk-navbar-container li a  {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.menu-off li {
    list-style-type: none;
}

/*PAGINA DE INICIO*/
#buscador {
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
    margin-left: 2%;
}
.uk-panel img {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 20px;
}
.body {
    background-color: rgb(0, 0, 0);
}
.titulos {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 20px;
}
.titulo-resultados {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 20px;
    margin: 2%;
}
.tituloCentral {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-left: 0px;
}
article:hover img {
    opacity: 0.3;
}
#peliculasPopulares {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#peliculasPopulares img {
        border: 5px red solid;
    
}
#seriesPopulares {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#seriesPopulares img {
        border: 5px red solid;
    
}
#ultimosEstrenos {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#ultimosEstrenos img {
        border: 5px red solid;
    
}
#favoritos {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#favoritos img {
        border: 5px red solid;
    
}
#favoritoSerie {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#favoritoSerie img {
        border: 5px red solid;
    
}
#resultados {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#resultados img {
        border: 5px red solid;
    
}
#generoDetalle {
    height: 48%;
    width: 48%;
    margin: 2%;
}
#generoDetalle img {
        border: 5px red solid;
    
}
/* LISTA GENEROS */
.generos {
    text-align: center;
    background-color: black;
    font-size: 30px;
    }
.generos li{
        display: grid;
        grid-template-rows: 90px;
    }
.generos li a {
        text-align: center;
        color: red;
        text-decoration: none;
    }
.generos li a:hover{
        text-decoration: underline;
    }
.generosSerie {
        text-align: center;
        background-color: black;
        font-size: 30px;
        }
.generosSerie li{
            display: grid;
            grid-template-rows: 90px;
        }
.generosSerie li a {
            text-align: center;
            color: red;
            text-decoration: none;
        }
.generosSerie li a:hover{
            text-decoration: underline;
        }
.titulogenero {
    color: white;
    text-align: center;
    font-size: 32px;
}
/*FOOTER*/
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
.footer img {
    height: 15%;
    width: 15%;
    margin: 2%;
}
.footer div {
    height: 15%;
    width: 15%;
    margin: 2%;
}
.footer p {
    margin: 2%;
}
/*PAGINA DETALLE PELICULAS*/
.datos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 50px ;
    padding-left: 10px;
    width: 100%;
}
.datos .descripcion {
    width: 50%;
    margin: 2%;
}
.datos .descripcion .nombre {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    margin-top: 3%;
}
.datos .descripcion .sinopsis {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.datos .descripcion .promedio {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.datos .descripcion .genero {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.datos .descripcion .fecha {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.imagen {
    height: 25%;
    width: 25%;
    margin: 2%;
    border: 5px red solid;
}
button.botonFavoritos{
    height: 60px;
    border-radius: 0px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif ;
    font-size: 20px;
    background-color: red;
    border: solid black 1px;
    }
    button.botonFavoritos:hover{
      background-color: rgb(153, 39, 39);
    }
    button.botonFavoritosSerie{
        height: 60px;
        border-radius: 0px;
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif ;
        font-size: 20px;
        background-color: red;
        border: solid black 1px;
        }
        button.botonFavoritosSerie:hover{
          background-color: rgb(153, 39, 39);
        }
    
@media (max-width: 800px) {
    .uk-navbar-right .uk-active {
        display: none;
    }
}